body {
    background-image: url(http://football.dev/images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    .navbar-inverse {
        background-color: #153764;
    }
}
